<h1>Quelle auswählen</h1>
<mat-radio-group class="example-radio-group" [(ngModel)]="backendService.importSrc">
  <div>
    <mat-radio-button class="example-radio-button" [value]="0">
      <strong>ThingSpeak Import</strong>
    </mat-radio-button>
    <div *ngIf="backendService.importSrc==0">
      <mat-form-field appearance="outline">
        <mat-label>Channel-ID</mat-label>
        <input matInput placeholder="Channel-ID" [(ngModel)]="ts.channel_id" (ngModelChange)="ts.save()">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Read-API-Key</mat-label>
        <input matInput placeholder="Read-API-Key" [(ngModel)]="ts.api_key" (ngModelChange)="ts.save()">
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Von</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Von" [(ngModel)]="ts.start" (ngModelChange)="ts.save()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Bis</mat-label>
        <input matInput [matDatepicker]="pickerEnd" placeholder="Bis" [(ngModel)]="ts.end" (ngModelChange)="ts.save()">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Anzahl Einträge</mat-label>
        <input matInput placeholder="Anzahl Einträge" type="number" [max]="8000" [(ngModel)]="ts.results" (ngModelChange)="ts.save()">
      </mat-form-field>
      <p>
        <button mat-raised-button (click)="setTime(0, 3)">Letzte 3 Stunden </button>
        <button mat-raised-button (click)="setTime(3)">Letzte 3 Tage</button>
        <button mat-raised-button (click)="setTime(7)">Letzte 7 Tage</button>
      </p>
      <p>
        <button mat-raised-button (click)="readTs()" color="primary">Abrufen</button>
      </p>
      <hr class="my-4" />
      <pre *ngIf="backendService.tsData" class="pre-scrollable">{{backendService.tsData|json}}</pre>
    </div>
  </div>
  <div>
    <mat-radio-button class="example-radio-button" [value]="1">
      <strong>Beelogger CSV Import</strong>
    </mat-radio-button>
    <div *ngIf="backendService.importSrc==1">

      <div class="form-group">
        <label for="settingsFile">CSV-Datei importieren:</label>
        <input type="file"
               id="settingsFile" name="settingsFile" class="form-control-file"
               accept="text/csv,.csv"
               (change)="readCsv($event)" #fileInput />
      </div>
      <button mat-raised-button color="primary" (click)="fileInput.click()">Auswählen</button>
      <hr />
      <div>
        <mat-checkbox [(ngModel)]="csv.skip_first" (change)="csv.save()">Erste Zeile auslassen</mat-checkbox>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Seperator</mat-label>
          <input matInput placeholder="seperator" [(ngModel)]="csv.seperator" (change)="csv.save()">
        </mat-form-field>
      </div>
      <pre *ngIf="backendService.csvData" class="pre-scrollable">{{csvData|json}}</pre>
    </div>
  </div>
</mat-radio-group>
<button mat-raised-button routerLink="graph" color="primary">Zur Ansicht</button>
