<mat-radio-group class="example-radio-group" [(ngModel)]="backendService.importSrc">
  <mat-card class="my-card">
    <mat-radio-button class="example-radio-button" [value]="0" class="noselect">
      <strong>ThingSpeak Import</strong>
    </mat-radio-button>

    <mat-card-content *ngIf="backendService.importSrc==0">

          <mat-form-field appearance="outline" style="max-width:100px">
            <mat-label>Channel-ID</mat-label>
            <input matInput placeholder="Channel-ID" type="number"
                   [(ngModel)]="tsSettings.channel_id" (ngModelChange)="saveSettings()">
          </mat-form-field>
        <p>
            <mat-slide-toggle
                color="accent" class="noselect"
                [(ngModel)]="tsSettings.public" (ngModelChange)="saveSettings()">
                Public Channel
            </mat-slide-toggle>
            <mat-form-field appearance="outline" style="max-width:180px;margin-left:15px" *ngIf="!tsSettings.public">
                <mat-label>Read-API-Key</mat-label>
                <input matInput placeholder="Read-API-Key"
                   [(ngModel)]="tsSettings.api_key" (ngModelChange)="saveSettings()">
            </mat-form-field>
        </p>
          <mat-form-field appearance="outline" style="max-width:150px">
            <mat-label>Von</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Von"
                   [(ngModel)]="tsSettings.start" (ngModelChange)="saveSettings()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline" style="max-width:150px">
            <mat-label>Bis</mat-label>
            <input matInput [matDatepicker]="pickerEnd" placeholder="Bis"
                   [(ngModel)]="tsSettings.end" (ngModelChange)="saveSettings()">
            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
            <mat-datepicker #pickerEnd></mat-datepicker>
          </mat-form-field>
        <!--
          <mat-form-field appearance="outline" style="max-width:150px">
            <mat-label>Anzahl Einträge</mat-label>
            <input matInput placeholder="Anzahl Einträge" type="number" [max]="8000"
            [(ngModel)]="tsSettings.results" (ngModelChange)="saveSettings()">
          </mat-form-field>
          -->
        <p class="noselect">
            Anzahl geladener Einträge:
            <mat-slider
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="auto"
                [(value)]="tsSettings.results" (change)="saveSettings()"
                [min]="tsSettings.results_min"
                [max]="tsSettings.results_max"></mat-slider>
        </p>
        <p>
            <mat-form-field appearance="outline" style="max-width:150px">
                <mat-label>Anzahl Einträge/Zeit</mat-label>
                <mat-select [(value)]="tsSettings.timescale" (selectionChange)="saveSettings()">
                    <mat-option [value]="null">Keine Beschränkung</mat-option>
                    <mat-option [value]="30">2 Einträge/Stunde</mat-option>
                    <mat-option [value]="15">4 Einträge/Stunde</mat-option>
                    <mat-option [value]="10">6 Einträge/Stunde</mat-option>
                    <mat-option [value]="60">24 Einträge/Tag</mat-option>
                    <mat-option [value]="240">6 Einträge/Tag</mat-option>
                    <mat-option [value]="720">2 Einträge/Tag</mat-option>
                    <mat-option [value]="1440">1 Eintrag/Tag</mat-option>
                </mat-select>
            </mat-form-field>
        </p>
      <p>
        <mat-chip-list>
          <mat-chip (click)="setTime(0, 6)">Letzte 6 Stunden</mat-chip>
          <mat-chip (click)="setTime(0, 24)">24 Stunden</mat-chip>
          <mat-chip (click)="setTime(3)">3 Tage</mat-chip>
          <mat-chip (click)="setTime(7)">7 Tage</mat-chip>
          <mat-chip (click)="setTime(30)">30 Tage</mat-chip>
        </mat-chip-list>
      </p>
        <mat-card-actions>
            <mat-bar-button [options]="barButtonOptions" (click)="readTs()"></mat-bar-button>
        </mat-card-actions>
      <!--
      <hr class="my-4" />
      <pre *ngIf="backendService.tsData" class="pre-scrollable">{{backendService.tsData|json}}</pre>
      -->
    </mat-card-content>
  </mat-card>
  <mat-card class="my-card">
    <mat-radio-button class="example-radio-button" [value]="1" class="noselect">
      <strong>CSV Import</strong>
    </mat-radio-button>
    <mat-card-content *ngIf="backendService.importSrc==1">
        <div>
            <mat-checkbox [(ngModel)]="csvSettings.noHeaders" (change)="saveSettings()">Kein Tabellenkopf vorhanden</mat-checkbox>
        </div>
        <div>
            <mat-form-field appearance="outline" style="max-width:100px">
                <mat-label>Seperator</mat-label>
                <mat-select [(value)]="csvSettings.seperator" (selectionChange)="saveSettings()">
                    <mat-option *ngFor="let seperator of backendService.seperators" [value]="seperator">{{seperator}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <p>
            <mat-slide-toggle
                    color="accent" class="noselect"
                    [(ngModel)]="csvSettings.useFile" (ngModelChange)="saveSettings()">
                Dateiupload
            </mat-slide-toggle>
        </p>
        <div class="form-group" *ngIf="csvSettings.useFile">
            <label for="settingsFile">Datei von Computer importieren:</label>
            <input type="file"
               id="settingsFile" name="settingsFile" class="form-control-file"
               accept="text/csv,.csv"
               (change)="readCsv($event)" #fileInput />
        </div>

        <mat-form-field appearance="outline" style="min-width:250px" *ngIf="!csvSettings.useFile">
            <mat-label>URL zur CSV-Datei</mat-label>
            <input matInput placeholder="http://"
                   [(ngModel)]="csvSettings.urlPath" (ngModelChange)="saveSettings()">
        </mat-form-field>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="fileInput.click()" *ngIf="csvSettings.useFile">›› CSV-Datei auswählen</button>
            <button mat-raised-button color="primary" (click)="readCsvFromUrlAndParse()" *ngIf="!csvSettings.useFile">›› CSV abrufen</button>
        </mat-card-actions>
      <!--
      <pre *ngIf="backendService.csvData" class="pre-scrollable">{{csvData|json}}</pre>
      -->
    </mat-card-content>
  </mat-card>
</mat-radio-group>
<div class="clearfix">
    <button mat-raised-button [disabled]="!backendService.isDataLoaded" [routerLink]="['/view']" color="accent" class="float-right">Zur Messdaten-Ansicht</button>
</div>