<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="!backendService.csvData && !backendService.tsData">
  Wähle zuerst im Reiter <strong>Auswahl</strong> die Messdaten aus.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- Latest Measurement Values -->
<div class="row">
  <ng-container *ngFor="let sensor of backendService.getTsFieldForMeasurementView();let i=index; let odd=odd">
    <div class="col-6" [ngClass]="{'my-col-left': (i+1) % 2 !== 0, 'my-col-right': (i+1) % 2 == 0}" >
      <mat-card style="width:100%">
        <mat-card-header>
          <mat-card-title>{{sensor.title}}</mat-card-title>
          <mat-card-subtitle>{{sensor.data}} {{sensor.unit}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-progress-spinner class="mx-auto"
            color="accent"
            mode="determinate"
            [value]="sensor.data"
            [strokeWidth]="14"
            [diameter]="40"
            [matBadge]="sensor.unit" matBadgeSize="medium" [matBadgeOverlap]="true" matBadgeColor="primary" matBadgePosition="above after">
          </mat-progress-spinner>
        </mat-card-content>
      </mat-card>
    </div>
    <div [ngClass]="{'col-12': (i+1) % 2 == 0}" [ngStyle]="{'margin-bottom.px': ((i+1) % 2 == 0) ? 10 : 0}"></div>
  </ng-container>
</div>
<div class="clearfix">
    <mat-bar-button [options]="barButtonOptions" (click)="updateTsData()" class="float-right"></mat-bar-button>
    <strong class="text-truncate">Letzte Messung: {{backendService.tsDataLastLine.time.toLocaleString('de-DE')}}</strong>
</div>
<!-- Chart.js -->
<mat-card style="margin-top:10px;margin-bottom:10px;">
    <mat-card-content>
        <mat-slide-toggle
                color="accent"
                [(ngModel)]="showChart" class="noselect">
            <strong>Chart.js</strong>
        </mat-slide-toggle>
        <div class="row" *ngIf="showChart">
            <div class="col-12">
                <div style="display: block;">
                    <canvas baseChart width="400" height="400"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<!-- Dygraph -->
<mat-card>
    <mat-card-content>
        <mat-slide-toggle
                color="accent"
                [(ngModel)]="showDygraph" class="noselect">
            <strong>Dygraph</strong>
        </mat-slide-toggle>
        <ngx-dygraphs *ngIf="showDygraph"
                [data]="data"
                [options]="options"
        style="margin-left:-20px">
        </ngx-dygraphs>
    </mat-card-content>
</mat-card>



